################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/quetzal-stsc4j-ui/bin/Debug/net10.0-windows
/quetzal-stsc4j-ui/obj
/quetzal-stsc4j-ui/.vs/quetzal-stsc4j-ui
/quetzal-stsc4j-ui/.vs/CopilotSnapshots/C445E4C32B3D5043BFFCD6009AD26D6B

quetzal-stsc4j-parser/.idea/
/.idea/
/quetzal-stsc4j-parser/target/
